@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-black: #1D1D1D;
  --color-grey: #A4A4A4;
  --color-white: #FBFBFB;
  --text-p: 16px;
  --text-h1: 120px;
  --text-h1-2: 96px;
  --text-h1-3: 80px;
  --text-h2: 64px;
  --text-h2-2: 52px;
  --text-h2-3: 40px;
  --text-h3: 24px;
}

@layer base {
  * {
  font-family: 'Zalando Sans', sans-serif;
  }

  html, body {
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--color-white);
  }
}

@media screen and (min-width:1920px) {
  .grid {
    width: 1920px;
    justify-self: center;
  }
}