@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

@theme {
  --color-black: #1D1D1D;
  --color-grey: #A4A4A4;
  --color-white: #FBFBFB;
}

@layer base {
  * {
  font-family: 'Roboto', sans-serif;
  }
  h1, h2 {
    font-weight: 600;
  }
  html, body {
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--color-white);
  }
}

@media screen and (min-width:1920px) {
  .grid {
    width: 1920px;
    justify-self: center;
  }
}